<?xml version="1.0" encoding="UTF-8"?>
<suite name="AutoQA Suite">

    <listeners>
        <listener class-name="com.autoqa.listeners.TestListener"/>
    </listeners>

    <test name="End to End Hackathon Test">
    
        <classes>
            <class name="com.autoqa.tests.AuthTest"/>
            <class name="com.autoqa.tests.ProductTest"/>
        </classes>
    </test>
    
</suite>